<?xml version="1.0" encoding="utf-8"?>
<Media Key="62ec452f-0999-4ffd-8039-21e140d32122" Alias="Aaron-Lambert.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:09</CreateDate>
    <NodeName Default="Aaron-Lambert.svg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1x2e3aec/aaron-lambertsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>