<?xml version="1.0" encoding="utf-8"?>
<Media Key="41b85817-9734-4609-920e-75898b98f8c3" Alias="AJ-Carter.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:09</CreateDate>
    <NodeName Default="AJ-Carter.svg.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2xsbvizp/aj-cartersvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>