<?xml version="1.0" encoding="utf-8"?>
<Media Key="769ec83c-1b8d-4867-9d14-66c7d00c5bc1" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T14:49:11</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zz0dzfew/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>