<?xml version="1.0" encoding="utf-8"?>
<Media Key="20702e14-e88a-4707-b1cc-2185b448fb8e" Alias="Brandon-Newton.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:09</CreateDate>
    <NodeName Default="Brandon-Newton.svg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/20jnfqur/brandon-newtonsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>