<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6a8fe55-5307-42cb-a023-23b693758733" Alias="Brandon-Kerr.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:10</CreateDate>
    <NodeName Default="Brandon-Kerr.svg.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u3bbufa2/brandon-kerrsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>