<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7e3be25-308a-431f-a2d6-1c02bb61e1c3" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="482769e2-c2e3-417d-8891-887c1619f5c2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:57:25</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/02bfcfmr/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>