<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac51d0df-f68b-4228-b43d-ceb9fde4a4a8" Alias="Kevin-Gardner.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:09</CreateDate>
    <NodeName Default="Kevin-Gardner.svg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvwpgtuq/kevin-gardnersvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>