<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fbab10a-a759-4178-a9ab-9a07e12ecb9c" Alias="Rist-Management.svg" Level="2">
  <Info>
    <Parent Key="482769e2-c2e3-417d-8891-887c1619f5c2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RistManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:57:25</CreateDate>
    <NodeName Default="Rist-Management.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5agbr5kc/rist-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>