<?xml version="1.0" encoding="utf-8"?>
<Media Key="482769e2-c2e3-417d-8891-887c1619f5c2" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-16T17:53:18</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>