<?xml version="1.0" encoding="utf-8"?>
<Media Key="774cb6b8-fa90-4445-bc1b-5c62aae407ea" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="482769e2-c2e3-417d-8891-887c1619f5c2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:57:25</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jifp3fml/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>