<?xml version="1.0" encoding="utf-8"?>
<Media Key="910dc9e5-e058-4011-835c-821dc577dd3d" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="482769e2-c2e3-417d-8891-887c1619f5c2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:57:25</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c30k420d/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>