<?xml version="1.0" encoding="utf-8"?>
<Media Key="2389b20f-db6c-4aea-853c-92e2d0593878" Alias="Tina-Fox.svg.svg" Level="2">
  <Info>
    <Parent Key="62122e41-d0a6-49ab-b333-b48eb8a9a3ec">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T16:46:09</CreateDate>
    <NodeName Default="Tina-Fox.svg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5uhdxqlx/tina-foxsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>