<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e3867e2-1edb-4f01-9b15-5c13b945fc16" Alias="Contact" Level="2">
  <Info>
    <Parent Key="60ef27c1-fd0c-4187-b89e-18941ff79432">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-11T21:53:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d16e71a-a066-4ffe-8ca4-646638ad1de7">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "edcfb416-0c9b-4651-acdf-2086e77365ea",
      "key": "9b76bacd-0f1b-4a1f-827b-a15edd27886d",
      "udi": null,
      "values": [
        {
          "alias": "projectContact",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EOffice location\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EPhone number\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EE-mail address\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "projectTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "projectImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "550f12d6-6ce0-4239-80ec-aea085887720",
              "mediaKey": "a6ac587e-9468-49e5-a86f-37a739039cc4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9b76bacd-0f1b-4a1f-827b-a15edd27886d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9b76bacd-0f1b-4a1f-827b-a15edd27886d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>