<?xml version="1.0" encoding="utf-8"?>
<Content Key="c85cdaa6-934a-4085-b428-1d596f513745" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-16T14:51:29</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "410369d4-34bf-493a-8436-14af6f1f74a5",
      "key": "14a31ef7-f686-4863-9d10-d5bfa839b1b9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "410369d4-34bf-493a-8436-14af6f1f74a5",
      "key": "df8d5964-8b4c-4d32-a4cb-d96126a87770",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com"
        }
      ]
    },
    {
      "contentTypeKey": "410369d4-34bf-493a-8436-14af6f1f74a5",
      "key": "7f3bb80d-57de-489e-b152-24ccfe0ffbd1",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "14a31ef7-f686-4863-9d10-d5bfa839b1b9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df8d5964-8b4c-4d32-a4cb-d96126a87770",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f3bb80d-57de-489e-b152-24ccfe0ffbd1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "14a31ef7-f686-4863-9d10-d5bfa839b1b9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "df8d5964-8b4c-4d32-a4cb-d96126a87770",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7f3bb80d-57de-489e-b152-24ccfe0ffbd1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "40583e5c-3988-4867-9741-d488ed6a3a25",
    "mediaKey": "769ec83c-1b8d-4867-9d14-66c7d00c5bc1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>