<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb2f9c0f-5267-4861-8e91-5959e3441872" Alias="Info Card - Info Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Info Card - Info Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>