<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f2370e9-e447-46d7-be5d-9c620250f519" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "001444d2-9600-40ec-aa6f-34b3c8a7ccd1"
    },
    {
      "contentElementTypeKey": "9a7f8a6c-956a-452a-bbb9-d48feb7fd1b3",
      "settingsElementTypeKey": "c9853f7f-554f-4060-8ef1-d91714520f7c"
    },
    {
      "contentElementTypeKey": "ad06ba05-fa10-462c-b01c-7595c5a61511"
    },
    {
      "contentElementTypeKey": "edcfb416-0c9b-4651-acdf-2086e77365ea"
    }
  ]
}]]></Config>
</DataType>