<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4413662c-f214-4a44-90bb-9cb54f7b2b6a" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0a4e4239-1971-4dde-96c2-f34a55d17012"
    }
  ]
}]]></Config>
</DataType>