<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3048c3ea-be51-408c-8eb8-6f0dc651fd75" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "410369d4-34bf-493a-8436-14af6f1f74a5",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>