<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf2b77c4-139a-4f53-9683-2ae26e37f57f" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ca23e8d7-051d-4232-ba11-7ca109b67d19",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>