<?xml version="1.0" encoding="utf-8"?>
<DataType Key="529ca7b5-2a45-4297-94d9-3d3abe984646" Alias="Text String" Level="1">
  <Info>
    <Name>Text String</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>