<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40a61c6d-5c75-4f80-9a42-bd21dffcac2c" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fe5c85dd-7f2d-474a-9958-3d7151b2ae81">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0ca337d8-91fe-49ef-8243-3bbc0de75ff4" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="830a19c1-0cdb-4935-959a-49f8ab196f53" SortOrder="1">contactPage</ContentType>
    <ContentType Key="0e549fbf-00bf-4c06-b4b9-b6492dc7869a" SortOrder="2">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ad93a852-a813-46ad-93b2-958ad5fb2bde</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>9f2370e9-e447-46d7-be5d-9c620250f519</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6c55653f-f4bf-4624-92ce-e63625ba0fff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>